<% include partials/header %>

<div class="container">
    <table class="table table-bordered my-5">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Username</th>
                <th scope="col" class="text-center">Password</th>
            </tr>
        </thead>
        <% for(var i=0; i < allUsers.rows.length; i++) {%>
        <tbody>
            <tr>
                <th scope="row" class="text-center"><%= allUsers.rows[i].id %></th>
                <td class="text-center"><%= allUsers.rows[i].username %></td>
                <td class="text-center"><%= allUsers.rows[i].password %></td>
            </tr>
        </tbody>
        <% } %>
    </table>
</div>

<% include partials/footer %>